/* .chat-sidebar {
  width: 320px;

  flex-shrink: 0;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 15px;
  display: flex;
  flex-direction: column;
}


.sidebar-header {
  margin-bottom: 10px;
}

.sidebar-header h2 {
  font-size: 20px;
  font-weight: 600;
}

.search-box {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.chat-list {
  overflow-y: auto;
  flex: 1;
  scrollbar-width: thin;
}

.chat-list::-webkit-scrollbar {
  width: 6px;
}

.chat-list::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.chat-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.chat-item:hover {
  background: #f3f4f6;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #3b82f6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}

.chat-info {
  display: flex;
  flex-direction: column;
}

.chat-info h4 {
  font-size: 20px;
  margin: 0;
}

.chat-info p {
  font-size: 15px;
  color: gray;
  margin-top: 2px;
}

.chat-item.active {
  background: #e0edff;
  border:1px solid #d0dbed;
}

.chat-item.active h4 {
  color: #2563eb;
  font-weight: 600;
}

.chat-item.active p {
  color: #1e40af;
} */

.chat-sidebar {
  width: 320px;

  flex-shrink: 0;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 15px;
  display: flex;
  flex-direction: column;
}


.sidebar-header {
  margin-bottom: 10px;
}

.sidebar-header h2 {
  font-size: 20px;
  font-weight: 600;
}

.search-box {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.chat-list {
  overflow-y: auto;
  flex: 1;
  scrollbar-width: thin;
}

.chat-list::-webkit-scrollbar {
  width: 6px;
}

.chat-list::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.chat-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.chat-item:hover {
  background: #f3f4f6;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #3b82f6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}

.chat-info {
  display: flex;
  flex-direction: column;
}

.chat-info h4 {
  font-size: 20px;
  margin: 0;
}

.chat-info p {
  font-size: 15px;
  color: gray;
  margin-top: 2px;
}

.chat-item.active {
  background: #e0edff;
  border:1px solid #d0dbed;
}

.chat-item.active h4 {
  color: #2563eb;
  font-weight: 600;
}

.chat-item.active p {
  color: #1e40af;
}
/* MOBILE FULL SCREEN SIDEBAR */
@media (max-width: 768px) {
  .chat-sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #fff;
    transition: transform 0.3s ease;
  }

  /* HIDE WHEN CHAT OPEN */
  .chat-sidebar.hide {
    transform: translateX(-100%);
  }
}