.login-wrapper {
  background: #0b74ff; /* FULL PAGE background */
  min-height: 100vh;
  padding-top: 40px;
}

.back-arrow {
  font-size: 26px;
  color: rgb(25, 15, 125);
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
}

.login-container {
  width: 350px;
  margin: 0 auto;
  padding: 25px;
  background: white;
  color: #0b74ff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-title {
  margin-top: 10px;
  font-size: 26px;
  font-weight: bold;
  color: #0b74ff;
}

.login-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #0b74ff;
  border-radius: 6px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #0b74ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.9;
}

.google-btn {
  width: 100%;
  padding: 10px;
  background: #ffffff;
  color: #0b74ff;
  border: 2px solid #0b74ff;
  border-radius: 6px;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.google-btn:hover {
  background: #0b74ff;
  color: white;
}

hr {
  border: 0.5px solid #0b74ff50;
  margin: 20px 0;
}
